In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from xgboost import XGBRegressor

In [20]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [21]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [23]:
dff=df.copy()

In [24]:
le = LabelEncoder()
dff['smoker']=le.fit_transform(dff['smoker'])
dff['sex'] = le.fit_transform(dff['sex'])
dff['region'] = le.fit_transform(dff['region'])
dff.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [35]:
#sns.boxplot(data=dff,y='charges')

In [34]:
#q1 = np.quantile(dff['charges'],0.25)
#q3 = np.quantile(dff['charges'],0.75)
#iqr = q3-1
#high = q3 + 1.5*iqr
#low = q1 - 1.5*iqr
#print(high)
#print(low)

In [36]:
features = dff.drop('charges',axis=1)
target = dff['charges']
x_train , x_test , y_train , y_test = train_test_split(features,target,test_size=0.2,random_state=123)

In [46]:
models = {
    'LinearRegression':LinearRegression(),
    'Ridge':Ridge(),
    'DecisionTree':DecisionTreeRegressor(),
    'RandomForest':RandomForestRegressor(),
    'GradientBoosting':GradientBoostingRegressor(),
    'XGBRegressor':XGBRegressor()
}
result = pd.DataFrame(columns=['SCORE','MAE','MSE',"RMSE"])
def Regressor(models,x_train,x_test,y_train,y_test):
    for key,model in models.items():
        m = model
        m.fit(x_train,y_train)
        prediction = m.predict(x_test)
        SCORE = r2_score(y_test,prediction)
        MAE = mean_absolute_error(y_test,prediction)
        MSE = mean_squared_error(y_test,prediction)
        RMSE = np.sqrt(MSE)
        result.loc[key,:]=[SCORE,MAE,MSE,RMSE]
    return result

In [47]:
Regressor(models,x_train,x_test,y_train,y_test)

                     SCORE          MAE              MSE         RMSE
LinearRegression  0.799859  4009.551705  30600637.578781  5531.784303
Ridge             0.799338  4021.408996  30680354.044084  5538.984929
DecisionTree      0.751117   2895.31406   38053068.73778  6168.716944
RandomForest      0.887482  2410.088203  17203475.953688  4147.707313
GradientBoosting  0.904935  2206.778451  14535028.887004  3812.483297
XGBRegressor      0.867087  2691.431326  20321833.865133  4507.974475